# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.ilk
.pdb
.suo
.sdf
.ipch
.filters
.user


# Executables
*.exe
*.out
*.app
/gg_compiler/Debug
/gg_compiler/*.filters
/gg_compiler/gg_compiler/*.user
/gg_compiler/*.sdf
/gg_compiler/*.suo
/ipch
/Debug
/*.sdf
/*.suo
/gg_compiler/*.user
/*.opensdf
